{% if inscription and inscription.isValidated %}
	<div id="modules" class="mb-12">
		<h2 class="text-2xl font-semibold mb-4">Modules</h2>

		{% if modules|length > 0 %}
			<ul class="space-y-4 mb-10">
				{% for module in modules %}
					<li class="border border-gray-200 p-4 rounded-lg bg-white">
						<h3 class="text-lg font-semibold text-gray-700 mb-1">{{ module.title }}</h3>

						{% if module.estimatedDuration %}
							<p class="text-sm text-gray-500 mb-1">⏱ Durée estimée :
								{{ module.estimatedDuration }}
								min</p>
						{% endif %}


						<p class="text-sm text-gray-500 mb-2">{{ module.content|raw }}</p>

						{% if module.pdfs|length > 0 %}
							<ul class="text-sm space-y-1 mt-2">
								{% for pdf in module.pdfs %}
									<li>
										📄
										<a href="{{ path('module_view', { id: module.id }) }}?file={{ pdf.imageName }}" target="_blank" class="text-indigo-600 hover:underline">
											{{ pdf.title ?: pdf.imageName }}
										</a>
										{% if pdf.estimatedDuration %}
											– ⏱
											{{ pdf.estimatedDuration }}
											min
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						{% else %}
							<p class="text-sm text-gray-500">Aucun fichier disponible pour ce module.</p>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p class="text-gray-600 mb-10">Aucun module pour cette formation.</p>
		{% endif %}
	</div>

	<div id="quiz" class="mb-12">
		<h2 class="text-2xl font-semibold mb-4">Quiz</h2>
		{% if formation.quizzes|length > 0 %}
			<ul class="space-y-4">
				{% for quiz in formation.quizzes %}
					<li class="flex items-center justify-between bg-white border border-gray-200 p-4 rounded-lg">
						<div>
							<span class="text-gray-700 font-medium block">{{ quiz.title }}</span>
							{% if quiz.estimatedDuration %}
								<span class="text-sm text-gray-500">⏱
									{{ quiz.estimatedDuration }}
									min</span>
							{% endif %}
						</div>
						<a href="{{ path('quiz_show', {'slug': quiz.slug}) }}" class="text-sm text-indigo-600 hover:underline font-medium">
							Lancer le quiz
						</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p class="text-gray-600">Pas de quiz associé pour le moment.</p>
		{% endif %}
	</div>

{% else %}
	<div class="mt-10 p-4 bg-yellow-50 border border-primary text-yellow-800 rounded">
		Le contenu pédagogique est réservé aux personnes inscrites et validées par l’administrateur.
	</div>
{% endif %}
