<div
	class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 w-full">
	<!-- Public Admis -->
	<div class="bg-light p-6 shadow-sm hover:shadow-lg transform hover:-translate-y-1 transition-all duration-300 rounded-lg border border-gray-200">
		<h3 class="text-xl font-semibold mb-2">
			<i class="fa-solid fa-person mr-3 text-indigo-600"></i>
			Public Admis
		</h3>
		<div class="text-editor-content text-gray-700">
			{{ formation.publicCible|raw }}
		</div>
	</div>

	<!-- Prix -->
	<div class="bg-light p-6 shadow-sm hover:shadow-lg transform hover:-translate-y-1 transition-all duration-300 rounded-lg border border-gray-200">
		<div class="flex items-center mb-4">
			<i class="fa-solid fa-medal mr-2 text-indigo-600 text-xl"></i>
			<h3 class="text-xl font-semibold">Certification</h3>
		</div>
		<div class="text-gray-700">
			<p class="mb-2">Qualiopi</p>
			<img src="{{ asset('img/qualiopiBGE.jpeg') }}" alt="Logo Qualiopi BGE" class="max-w-[120px] rounded shadow">
		</div>
	</div>


	<!-- Durée -->
	<div class="bg-light p-6 shadow-sm hover:shadow-lg transform hover:-translate-y-1 transition-all duration-300 rounded-lg border border-gray-200">
		<h3 class="text-xl font-semibold mb-4">
			<i class="fa-solid fa-clock-rotate-left mr-3 text-indigo-600"></i>
			Durée
		</h3>
		<p class="text-gray-700">
			{{ formation.duree|raw }}
		</p>
	</div>
</div>

<div class="py-5 mt-2">
	<div
		class="grid grid-cols-1 md:grid-cols-2 gap-8">
		<!-- Niveau Visé -->
		<div class="bg-light p-6 shadow-sm hover:shadow-lg transform hover:-translate-y-1 transition-all duration-300 rounded-lg border border-gray-200">
			<h3 class="text-xl font-semibold mb-4">
				<i class="fa-solid fa-graduation-cap mr-3 text-indigo-600"></i>
				Niveau Visé
			</h3>
			<p class="text-gray-700">Non diplômante</p>
		</div>

		<!-- Pré requis -->
		<div class="bg-light p-6 shadow-sm hover:shadow-lg transform hover:-translate-y-1 transition-all duration-300 rounded-lg border border-gray-200">
			<h3 class="text-xl font-semibold mb-2">
				<i class="fa-solid fa-clipboard-check mr-3 text-indigo-600"></i>
				Pré requis
			</h3>
			<p class="text-gray-700">
				{{ formation.preRequis|raw }}
			</p>
		</div>
	</div>
</div>

<div class="py-8 mt-2">
	<div
		class="grid grid-cols-1">
		<!-- Compétences Visées -->
		<div class="bg-light p-6 shadow-sm hover:shadow-lg transform hover:-translate-y-1 transition-all duration-300 rounded-lg border border-gray-200">
			<h3 class="text-xl font-semibold mb-4">
				<i class="fa-solid fa-bullseye mr-3 text-indigo-600"></i>
				Compétences Visées
			</h3>
			<p class="text-gray-700">
				<div class="text-editor-content text-gray-700">
					{{ formation.competences|raw }}
				</div>
			</p>
		</div>
	</div>
</div>
