{% extends 'base.html.twig' %}

{% block title %}Formations pour entreprises
{% endblock %}

{% block body %}
	<section class="py-20 px-6 md:px-12 bg-[#f5f5e9] text-[#032b35]">
		<div class="max-w-4xl mx-auto text-center">
			<h1 class="text-3xl md:text-4xl font-bold mb-8">Formations dédiées aux entreprises</h1>
			<p class="text-lg mb-10">
				Nous accompagnons les professionnels dans le développement des compétences de leurs équipes avec des formations sur mesure adaptées à vos besoins.
			</p>

			<div class="text-left bg-white p-8 rounded-2xl shadow-xl">
				<h2 class="text-xl font-semibold mb-4">Demandez un devis ou
					<a href="https://camelonsolutions.youcanbook.me/" target="_blank" class="underline hover:text-[#064b57] transition">
						planifiez un rendez-vous
					</a>

				</h2>
				<p class="mb-6">Nous vous proposons des formations sur mesure, adaptées à vos besoins et à votre secteur d'activité. Que vous soyez une TPE, PME ou un grand groupe, nous avons la solution qu'il vous faut.</p>
				<p class="mb-6">Remplissez ce formulaire pour qu’on vous recontacte dans les plus brefs délais :</p>

				{{ form_start(contactForm) }}
				{{ form_row(contactForm.name) }}
				{{ form_row(contactForm.email) }}
				{{ form_row(contactForm.entreprise) }}
				{{ form_row(contactForm.message) }}
				<button type="submit" class="mt-4 bg-[#085669] text-white py-2 px-6 rounded hover:bg-[#064b57] transition">Envoyer</button>
				{{ form_end(contactForm) }}
			</div>
		</div>
	</section>
{% endblock %}
