{% extends 'base.html.twig' %}

{% block title %}Quiz -
	{{ quiz.title }}
{% endblock %}

{% block body %}
	<div class="container mx-auto p-6">
		<h1 class="text-center text-3xl font-bold text-blue-600 mb-6">{{ quiz.title }}</h1>

		{{ form_start(form, {'attr': {'class':'bg-gray-100 p-6 rounded-lg shadow-lg'}}) }}

		{% for question in quiz.questions %}
			<div class="question space-y-4" id="question-{{ loop.index }}" style="{{ loop.first ? 'display:block' : 'display:none' }}">

				<h3 class="text-lg font-semibold text-gray-800">
					{{ question.content }}
					<span class="text-sm text-gray-500 font-normal italic">
						({{ question.points }}
						point{{ question.points > 1 ? 's' : '' }})
					</span>
				</h3>

				<div class="answers grid grid-cols-1 md:grid-cols-2 gap-4">
					{% for answer in question.answers %}
						<div class="answer-option flex items-center gap-3">
							<input type="radio" id="answer_{{ answer.id }}" name="form[answers_{{ question.id }}]" value="{{ answer.id }}" class="answer-input"/>
							<label for="answer_{{ answer.id }}" class="answer-label cursor-pointer">
								{{ answer.content }}
							</label>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}

		<div class="text-center mt-6">
			<button type="button" class="btn-next bg-blue-500 text-dark px-4 py-2 rounded-lg shadow hover:bg-blue-600 transition duration-200" onclick="nextQuestion()">
				Suivant
			</button>

			<button type="submit" class="btn-submit bg-blue-500 text-dark  px-6 py-3 rounded-lg shadow hover:bg-green-600 transition duration-200" style="display:none;">
				Soumettre mes réponses
			</button>
		</div>

		{{ form_row(form._token) }}
		{{ form_end(form, {'render_rest': false}) }}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		let currentQuestionIndex = 0;

function nextQuestion() { // Vérifier si une réponse est sélectionnée pour la question actuelle
let currentQuestionDiv = document.getElementById('question-' + (
currentQuestionIndex + 1
));
let checkedAnswer = currentQuestionDiv.querySelector('input[type="radio"]:checked');

if (! checkedAnswer) {
alert('Vous devez répondre à la question avant de continuer.');
return; // Bloquer si aucune réponse n’est sélectionnée
}

// Masquer la question actuelle
currentQuestionDiv.style.display = 'none';
currentQuestionIndex++;

// Afficher la question suivante
let nextQuestionDiv = document.getElementById('question-' + (
currentQuestionIndex + 1
));
if (nextQuestionDiv) {
nextQuestionDiv.style.display = 'block';
}

// Si c'est la dernière question, ajuster les boutons
if (!document.getElementById('question-' + (
currentQuestionIndex + 2
))) {
document.querySelector('.btn-submit').style.display = 'inline-block';
document.querySelector('.btn-next').style.display = 'none';
}
}
	</script>
{% endblock %}
